html body{
  background-image: url('./images/book1.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  font-family: 'Montagu Slab', serif;
}

p {
  font-size: 1.7rem;
}

.nav {
  min-width: none;
  width: 18%;
  position: fixed;
  top: 50%;
  left: 5%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 50px 20px;
  color:rgb(238, 238, 238);
  background-color: rgba(27, 24, 24, 0.8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.navButton {
  width: 100%;
}

.body {
  margin: 0 auto;
  width: 50%;
  position: relative;
  min-width: 750px;
}

.ScreenSaver {
  padding: 3rem 8rem;
  flex-direction: column;
  align-items: center;
  color:rgb(238, 238, 238);
  background-color: rgba(27, 24, 24, 0.8);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
}

.editAndDelete {
  display: 'flex';
  justify-content: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(40, 37, 43);
}

::-webkit-scrollbar-thumb {
  background: rgb(238, 238, 238, 0.4);
  border-radius: 70%;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 226, 109, 0.4);
}

.noContent {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 40px;
  color:rgb(238, 238, 238);
  background-color: rgba(27, 24, 24, 0.8);
  border-radius: 10px;
}

.forms {
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 30%;
  border-radius: 10px;
  position: fixed;
  padding: 40px;
  background-color: rgb(27, 24, 24, 0.8);
}

.editWindow {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: rgba(27, 24, 24, 0.8);
  align-items: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
}

.endButtons {
  display: flex;
  flex-direction: column;
}

.dropPlus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.selectDrop {
  background-color: rgba(27, 24, 24, 0.8);
  color:rgb(238, 238, 238);
  margin: 20px auto;
  width: 37%;
  padding: 15px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.shelf {
  background-color: rgba(27, 24, 24, 0.8);
  color:rgb(238, 238, 238);
  border-radius: 10px;
  margin: 20px;
  padding: 2rem;
  font-family: 'Montagu Slab', serif;
  text-align: center;
}

.shelfTitles {
  font-size: 2.5rem;
  font-family: 'Montagu Slab', serif;
}

.homeButton {
  position: fixed;
  left: 15%;
  top: 5%;
}

.NavTB {
  position: fixed;
  left: 15%;
  bottom: 5%;
}

@media screen and (max-width: 1300px) {

  .ScreenSaver {
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    margin: 20px auto;
  }

  .ScreenSaver p {
    font-size: 2.5rem;
  }
  
    .shelf h3 {
      font-size: 4rem;
    }

  .shelf p {
    font-size: 3rem;
  }

  /* .nav { */
    /* left: 0; */
    /* top: 0; */
    /* width: 100%; */
    /* transform: translateY(0%); */
    /* -ms-transform: translateY(0%); */
    /* padding: 10px; */
    /* color:rgb(238, 238, 238); */
    /* background-size: cover; */
    /* border-radius: 10px; */
    /* display: flex; */
    /* flex-direction: row; */
    /* z-index: 2; */
  /* } */

  .forms {
    width: 80%;
  }

  .homeButton {
    left: 6%;
  }

  .NavTB {
    left: 6%;
  }
}