.App {
  font-family: 'Montagu Slab', serif;
}

p {
  font-size: 1.7rem;
}

.mainPage {
  margin: 0 5rem;
}

.nav {
  width: 25%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: fixed;
  margin-left: 6rem;
  padding: 50px 20px;
  color:rgb(238, 238, 238);
  background-color: rgba(27, 24, 24, 0.8);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body {
  float: right;
  width: 60%;
}

.ScreenSaver {
  position: fixed;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:rgb(238, 238, 238);
  background-color: rgba(27, 24, 24, 0.8);
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(40, 37, 43);
}

::-webkit-scrollbar-thumb {
  background: rgb(238, 238, 238, 0.4);
  border-radius: 70%;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(240, 194, 10, 0.4);
}

.sbsButtons {
  display: flex;
  justify-content: center;
  margin: .5rem;
}

.mediaForm {
  width: 60%;
  margin: 0 auto;
  padding: 40px;
  color:rgb(238, 238, 238);
  background-color: rgba(27, 24, 24, 0.8);
  border-radius: 20px;
  transform: translateY(10%);
}

.noteForm {
  width: 60%;
  margin: 0 auto;
  padding: 40px;
  border-radius: 20px;
  background-color: rgba(27, 24, 24, 0.8);
  color:rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
}

.selectDrop {
  background-color: rgba(27, 24, 24, 0.8);
  color:rgb(238, 238, 238);
  width: 40%;
  margin: 20px auto;
  padding: 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#auth {
  position: fixed;
  top: 10px;
  right: 10px;
}

.shelf {
  background-color: rgba(27, 24, 24, 0.8);
  color:rgb(238, 238, 238);
  border-radius: 20px;
  margin: 20px;
  padding: 2rem;
  font-family: 'Montagu Slab', serif;
  text-align: center;
}

.shelfTitles {
  font-size: 2.5rem;
  font-family: 'Montagu Slab', serif;
}

.NavTop {
  position: fixed;
  right: 4%;
  bottom: 5%;
}

.NavBottom {
  position: fixed;
  right: 4%;
  bottom: 5%;
}

@media screen and (max-width: 980px) {
  /* .nav {
    display: none;
  } */

  .body {
    margin: 0 auto;
    float: none;
    width: 75%;
  }
}