.App {
  font-family: 'Montagu Slab', serif;
}

p {
  font-size: 20px;
}

.nav {
  height: 80%;
  width: 25%;
  top: 10%;
  position: fixed;
  margin-left: 2%;
  padding: 20px;
  color:rgb(238, 238, 238);
  background-color: rgba(27, 24, 24, 0.8);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body {
  margin: 2%;
  float: right;
  width: 70%;
}

::-webkit-scrollbar {
  width: 10px;
  
}

::-webkit-scrollbar-track {
  background: rgba(40, 37, 43);
}

::-webkit-scrollbar-thumb {
  background: rgb(238, 238, 238, 0.4);
  border-radius: 70%;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(240, 194, 10, 0.4);
}

.sbsButtons {
  display: flex;
  justify-content: center;
  margin: .5rem;
}

.movieForm {
  height: 50%;
  width: 50%;
  margin: 0 auto;
  padding: 40px;
  color:rgb(238, 238, 238);
  background-color: rgba(27, 24, 24, 0.8);
  border-radius: 20px;
  transform: translateY(25%);
}

.movieNoteForm {
  height: 50%;
  width: 50%;
  margin: 0 auto;
  padding: 40px;
  border-radius: 20px;
  background-color: rgba(27, 24, 24, 0.8);
  color:rgb(238, 238, 238);
  transform: translateY(7%);
  display: flex;
  flex-direction: column;
}

.selectDrop {
  background-color: rgba(27, 24, 24, 0.8);
  color:rgb(238, 238, 238);
  width: 35%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#auth {
  position: fixed;
  top: 10px;
  right: 10px;
}

.shelf {
  background-color: rgba(27, 24, 24, 0.8);
  color:rgb(238, 238, 238);
  border-radius: 20px;
  margin: 20px;
  padding: 2rem;
  font-family: 'Montagu Slab', serif;
  /* text-align: center; */
  /* width: 45%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mtitles {
  font-family: 'Montagu Slab', serif;
}